<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="facebook.appId" value="1239037252877294" />
    <add key="facebook.secret" value="f5b3f016f6404a07a946554d447746e1" />
    <add key="ciph.key" value="fDcITWAOBvBiAU5NOFhbYk0CEABjCA8B" />
    <add key="ciph.iv" value="CVgRQRZyAAQ=" />

  </appSettings>
  <connectionStrings>
    <clear />
    <add name="CS" connectionString="Data Source=DESKTOP-HI86PCE;Initial Catalog=chgk;Integrated Security=False;User Id=site;Password=sitePass" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
  </system.web>
    <system.webServer>

        <rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^TeamPage\.aspx$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^([^=&amp;]+)=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="TeamPage.aspx?{R:1}={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>