<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="facebook.appId" value="1239037252877294"/>
    <add key="facebook.secret" value="f5b3f016f6404a07a946554d447746e1"/>
    <add key="facebook.page" value="TFD_Test"/>
    <add key="facebook.pageID" value="295417283872326"/>
    <add key="ciph.key" value="fDcITWAOBvBiAU5NOFhbYk0CEABjCA8B"/>
    <add key="ciph.iv" value="CVgRQRZyAAQ="/>
    <add key="ChartImageHandler" value="storage=memory"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="CS" connectionString="Data Source=mike;Initial Catalog=chgk;Integrated Security=False;User Id=chgk;Password=ChtoGdeKogda2017"/>
    <add name="CS_prod" connectionString="Data Source=206.72.205.242;Initial Catalog=chgk;Integrated Security=False;User Id=chgk;Password=ChtoGdeKogda2017"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CrossOrigin" verb="OPTIONS" path="api/*" type="CrossOriginHandler"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
          <match url="^TeamPage\.aspx$"/>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
            <add input="{QUERY_STRING}" pattern="^([^=&amp;]+)=([^=&amp;]+)$"/>
          </conditions>
          <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false"/>
        </rule>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="TeamPage.aspx?{R:1}={R:2}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>